<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Projects</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge down bg-green">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Robotic Path Planing System with Artificial Intelligence</div>
                                        <p align="justify">This project based on the Path planning
                                            conepts that lets robots find the shortest or
                                            otherwise optimal path between two
                                            points.
                                            </p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Hardware/Software Used</li>
                                            <ul>
                                                <li class="non_list">Python</li>
                                                <li class="non_list">Arduino</li>
                                                <li class="non_list">Proteus</li>
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li> 
                        <li>
                            <div class="timeline-badge down bg-green">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Waste and Garbage Recycling Vending Machine</div>
                                        <p align="justify">An IOT (Raspberry pi) based application. In
                                            this project we made a vending machine
                                            which separated the recyclable and non
                                            recyclable wastes by using sensors and
                                            raspberry pi . So the non recyclable waste
                                            can be easily reused in the form of
                                            electricity
                                            </p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Hardware/Software Used</li>
                                            <ul>
                                                <li class="non_list">Python</li>
                                                <li class="non_list">Raspberry Pi</li>
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>     
                    </ul>
                </div>
    </div>
</div>
